*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.titulo{
    text-align: center;
}
.meunome{
    text-align: center;
}

#botão{
    text-align: right;
}
.box{
    text-align: left;
}
.imagem{
    text-align: center;
}
#lol{
    width: 150px;
}